# Server
PORT=10000
NODE_ENV=production

# Gemini API Keys (For chat) - Add 13 keys for rotation
GEMINI_API_KEY=
GEMINI_API_KEY_1=
GEMINI_API_KEY_2=
GEMINI_API_KEY_3=
GEMINI_API_KEY_4=
GEMINI_API_KEY_5=
GEMINI_API_KEY_6=
GEMINI_API_KEY_7=
GEMINI_API_KEY_8=
GEMINI_API_KEY_9=
GEMINI_API_KEY_10=
GEMINI_API_KEY_11=
GEMINI_API_KEY_12=

# Multimedia (video, image, document reading)
# GEMINI_API_KEY_1 through GEMINI_API_KEY_5 used here too
GROQ_KEY=

# Cloudinary
CLOUDNARY_USER_NAME=
API_KEY=
API_SECRET=

# GitHub
GITHUB_USER_NAME=
GITHUB_URL=
GITHUB_KEY=
PROJECT_NAME=
